/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto, san-serif';
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden ;
    margin: 0;
}*/


body{
    margin: 0%;
}

aside {
  padding-top: 0px;
  margin-right: 30px;

  float: right;

  font-style: italic;
  color: #0986e6;
}

p {
  font-family: "Fira Sans", sans-serif;
  padding: 0px;
  margin-top: 0px;
}

.image1 {
  padding-left: 50px;
  padding-top: 10px;
  margin-top: 10px;
}

hr {
  width: 100%;
  border-top:5 px;
  padding: 0px;

  margin: 0;
}

h1{
    padding-left: 20px;
    color: rgb(47, 37, 238);
    text-align: center;
}

 h2{
    margin-top: 0px;
    padding-left: 50px;
    padding-top: 20px;
    color: rgb(85, 132, 251);
    color:rgb(112, 149, 230) ;
 }

p{
    margin-left: 20px;
}
/*top navbar*/

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(77, 84, 98);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(107, 197, 11);
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
  }
  

  .top-container{
    background-color: beige;
  }

  .mid-container{
    width: 100%;
    height: 250px;
background-color: rgb(243, 241, 245);
  }

.noodle{
  margin-top: 10px;
  text-align: center;
  font-size: 400%;
}

form {
  margin-top: 30px;
 text-align: center;
}




.n{
  color: rgb(34, 0, 255);
}

.o{
color:red
}


.p{

color:yellow
}
  .d{
color: blue;
  }


.l{
color: green
 }

.e{
  color:red
}


td{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;

}


.top-right-cont{
  text-decoration: none;
  padding-left: 1000px;
  display: inline-block;
  text-align: right;
  font-weight: bolder;
}

.top-left-cont{
  text-decoration: none;
  padding-left: 0px;
  display: inline-block;
  text-align: left;
  font-weight: bolder;
}



.button{
  border-radius: 8px;
  padding: 7px;
  text-align: justify;
  text-align: center;
  font-size: large;
}
.input{
  border-radius: 8px;
  padding: 7px;
  text-align: justify;
  text-align: center;
  font-size: large
}


/*

  footer{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(1, 4, 12);
        color:rgb(0, 255, 204);
      }
      
      li {
        float: left;
        color: black;
      }
      
      li a {
        display: block;
        color: rgb(225, 24, 24);
        text-align: center;
        padding: 20px 50px;
        text-decoration: solid;
        text-decoration-color: black;
      
  }
*/
